* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;

  --colour-1: #119DA4;
  --colour-2: #0C7489;
  --colour-3: #13505B;
  --colour-4: #FFA69E;
  --colour-5: #FAF3DD;
  --colour-dark: #040404;
  --colour-light: #eee;
  --radius: 16px;
  --radius-sm: 8px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background: var(--colour-2);
  letter-spacing: 0.1em;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 1em;
  letter-spacing: 0.5em;
  color: var(--colour-4);
  text-decoration: underline;
  text-decoration-color: var(--colour-1);
}

#settings {
  padding: 1.25em;
  background: var(--colour-light);
  width: 100%;
  max-width: 350px;
  border-radius: var(--radius);
  box-shadow: 16px 16px 0px var(--colour-3);
  color: var(--colour-dark);
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75em;
  border: none;
  font-size: 1.1em;
}

.settings-label {
  font-weight: bold;
  padding: 0.5em;
  text-align: left;
  width: 100%;
}

.form-input {
  font-size: 1em;
  padding: 0.5em;
  border-radius: var(--radius-sm);
  border: 2px solid var(--colour-3);
  background: var(--colour-light);
  width: 100%;
  box-shadow: 4px 4px 0px var(--colour-3);
}

.side-input-container {
  display: flex;
  gap: 1em;
  width: 100%;
}

.form-input > input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--colour-light);
  border: 2px solid var(--colour-3);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  box-shadow: 1px 1px 0px var(--colour-3);
}

.form-input > input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--colour-1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

input[type="range"].form-input {
  padding: 0;
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  background-color: var(--colour-2);
  border-radius: var(--radius-sm);
  outline: none;
  box-shadow: none;
  border: 2px solid var(--colour-3);
}

input[type="range"].form-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: var(--colour-1);
  border: 2px solid var(--colour-3);
  border-radius: 50%;
  cursor: pointer;
}

.slider-value {
  padding-top: 0.5em;
}

.submit-button {
  width: 100%;
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  border-radius: var(--radius);
  box-shadow: 4px 4px 0px var(--colour-3);
  border: 2px solid var(--colour-3);
  color: var(--colour-3);
  background: var(--colour-1);
}

.submit-button:hover {
  background: var(--colour-2);
}

.button-container {
  padding: 1.75em 0 0.75em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chessboard-container {
  position: relative;
  padding: 16px;
  box-shadow: 16px 16px 0px var(--colour-3);
  border-radius: var(--radius);
  border: 2px solid var(--colour-3);
  background: var(--colour-1);
  margin: 16px;
}

#chessboard {
  border: 2px solid var(--colour-dark);
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
}

#thinking {
  text-align: center;
  color: var(--colour-5);
  padding: 0.25em;
}

#end-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  backdrop-filter: blur(2px);
  background: rgba(0,0,0,0.3);
  text-align: center;
  z-index: 100;
}

#endgame-text {
  font-size: 1.75em;
  padding: 0.6em;
  background: var(--colour-3);
  color: var(--colour-5);
  border-radius: var(--radius);
}

.flip {
  transform: rotate(180deg);
}

.chess-square {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
}

.chess-piece {
  width: 100%;
  height: 100%;
  position: absolute;
}

#promotion-select-form {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
}

.promotion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background: var(--colour-5);
  box-shadow: 8px 8px 0px var(--colour-4);
  border: 2px solid black;
  padding: 2em;
  border-radius: var(--radius);
}

/* Classic theme */
.chess-square.classic {
  border: 1px solid #333;
}

.chess-square.classic:hover {
  background-color: #333;
}

.white-square.classic {
  background-color: #eee;
}

.black-square.classic {
  background-color: #999;
}

.selected-square.classic {
  background-color: #bbb;
}

/* Light theme */
.chess-square.light {
  border: 1px solid #aaa;
}

.chess-square.light:hover {
  background-color: #333;
}

.white-square.light {
  background-color: #f5f5f0;
}

.black-square.light {
  background-color: #c9c8b5;
}

.selected-square.light {
  background-color: #bbb;
}

/* Neo theme */
.chess-square.neo {
  border: 1px solid #000;
}

.chess-square.neo:hover {
  background-color: #333;
}

.white-square.neo {
  background-color: #17eb49;
}

.black-square.neo {
  background-color: #222;
}

.selected-square.neo {
  background-color: #bbb;
}